/* google Font  */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap");
body {
  font-family: "Roboto", sans-serif;
}
.custom-text-primary {
  color: #ff6a3d;
}
.custom-text-secondary {
  color: #262931;
}
.custom-bg-primay {
  background: #ff6a3d;
}
.custom-bg-secondary {
  background: #1a2238;
}
.custom-btn {
  border: 2px solid #ff6a3d;
  transition: all 0.7s;
}
.custom-btn:hover {
  background: #ff6a3d;
  color: #fff;
  border: 2px solid #ff6a3d;
}
.custom-btn-primary {
  background: #ff6a3d;
  color: #fff;
  padding: 8px 22px;
  transition: all 0.7s;
}
.custom-btn-primary:hover {
  background: transparent;
  color: #ff6a3d;
  font-weight: 500;
}

/* -------------Custom css------------------  */

.slider-h {
  font-size: 64px;
}

/* -----------Custom Responsive---------------- */
@media only screen and (max-width: 376px) {
  .carousel-caption {
    top: 0;
  }
  .slider-h {
    font-size: 20px;
  }
}
@media only screen and (min-width: 377px) and (max-width: 575px) {
  .carousel-caption {
    top: 15px;
  }
  .slider-h {
    font-size: 28px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 765px) {
  .slider-h {
    font-size: 28px;
  }
  .slider-p {
    font-size: 12px;
  }
}
@media only screen and (min-width: 765px) and (max-width: 991px) {
  .carousel-caption {
    top: 15px;
  }
  .slider-h {
    font-size: 40px;
  }
}
